<div class="GroupDetailsStyles">
    <h1>Edit Class Details</h1>

    <form [formGroup]="groupForm" class="formStyles">

        <label for="GroupId" hidden>Class Id: </label>
        <input id="GroupId" type="number" formControlName="GroupId" hidden>

        <label for="GroupName">Class Name: </label>
        <input id="GroupName" type="text" formControlName="GroupName">
        <p *ngIf="!groupForm.controls['GroupName'].valid && groupForm.controls['GroupName'].touched">Please enter a Class Name.</p>

        <label for="OrganizationName">Instrument: </label>
        <select name="OrganizationName" id="OrganizationName" formControlName="OrganizationName">
            <option value="Piano">Piano</option>
            <option value="Drums">Drums</option>
            <option value="Guitar">Guitar</option>
        </select>
        <p *ngIf="!groupForm.controls['OrganizationName'].valid && groupForm.controls['OrganizationName'].touched">Please choose an Instrument.</p>

        <label for="SponsorName">Teacher Name: </label>
        <input id="SponsorName" type="text" formControlName="SponsorName">
        <p *ngIf="!groupForm.controls['SponsorName'].valid && groupForm.controls['SponsorName'].touched">Please enter a Teacher Name.</p>

        <label for="SponsorPhone">Teacher Phone: </label>
        <input id="SponsorPhone" type="tel" formControlName="SponsorPhone">
        <p *ngIf="!groupForm.controls['SponsorPhone'].valid && groupForm.controls['SponsorPhone'].touched">Please enter a Teacher Phone #.</p>

        <label for="SponsorEmail">Teacher Email: </label>
        <input id="SponsorEmail" type="email" formControlName="SponsorEmail">
        <p *ngIf="!groupForm.controls['SponsorEmail'].valid && groupForm.controls['SponsorEmail'].touched">Please enter a Teacher Email.</p>

        <label for="MaxGroupSize">Class Capacity: </label>
        <input id="MaxGroupSize" type="number" formControlName="MaxGroupSize">

        <input id="submitButton" type="submit" value="Save" (click)="onSaveForm(groupForm.value)">

    </form>

    <!-- <p>Form Value: {{ groupForm.value | json}}</p>
    <p>Form Status: {{ groupForm.status | json}}</p> -->

    <button class="deleteButton" (click)="deleteCurrentGroup()">
        Delete This Class
    </button>

    <h3>Currently Enrolled Students</h3>

    <section>
        <div class="members" *ngIf="musicGroup?.Members.length">
            <div type="button" class="student" *ngFor="let member of musicGroup.Members" (click)="saveMemberId(member.MemberId)" routerLink="student-details">
                <p>Student Name: {{member.MemberName}}</p>
            </div>
        </div>

        <div *ngIf="!musicGroup?.Members.length">
            <p>No Students Currently Enrolled</p>
        </div>
    </section>


    <button class="student" routerLink="new-student">
        Add New Student
    </button>



</div>