<section class="StudentDetailStyles">
    <h1>Student Details</h1>

    <form [formGroup]="editStudentForm" class="formStyles">

        <label for="MemberId">Student Id: </label>
        <input id="MemberId" type="number" formControlName="MemberId">

        <label for="MemberEmail">Student Email: </label>
        <input id="MemberEmail" type="email" formControlName="MemberEmail">

        <label for="MemberName">Student Name: </label>
        <input id="MemberName" type="text" formControlName="MemberName">

        <label for="MemberPhone">Student Phone: </label>
        <input id="MemberPhone" type="tel" formControlName="MemberPhone">


        <input id="submitButton" type="submit" value="Submit" (click)="onSaveForm(editStudentForm.value)">

    </form>

    <button class="deleteButton" (click)="deleteCurrentStudent()">
        Delete This Student
    </button>

</section>
