<div>
    <img src="/assets/images/piano-icon.png" width="100" height="100" class="mar1">
    <h2>Piano Classes</h2>
</div>

<div class="musicClasses flex">
    
    <div type="button" class="group" routerLink="group-details" (click)="saveGroupId(musicGroup.GroupId)" *ngFor="let musicGroup of groups">
        <h3>{{musicGroup.GroupName}}</h3>
        <p>Teacher: {{musicGroup.SponsorName}}</p>
        <p>#students: {{musicGroup.Members.length}}</p>
    </div>

    <div type="button" class="group" routerLink="new-class">
        Add New Class
    </div>
    
</div>