/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
body {
    font-family: Bebasneue, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

/* //Color Palette//

    Olive: #A3BCB6
    Green Leaf: #39603D
    Brown Grey: #3C403D
    Tanly: #DADED4
    White: #FFFFFF 
*/

.rootScreen {
    min-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color:#3C403D;
    text-align: center;
}

.componentColor {
    background-color:#DADED4;
}

.ButtonColor {
    background-color:#aba9a6;
    
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    width: 5rem;
    height: 2rem;
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
}

.musicClasses {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px;
    min-width: 15rem;
    min-height: 10rem;
    background-color: #aba9a6;
    margin: 1rem;
    cursor: pointer;
}

.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px;
    min-width: 10rem;
    min-height: 5rem;
    background-color: #DADED4;
    margin: 1rem;
    cursor: pointer;
}

.flex {
    display: flex;
}

.mar1 {
    margin: 1rem;
}
