/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
body {
    font-family: Bebasneue, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

/* //Color Palette//

    Olive: #A3BCB6
    Green Leaf: #39603D
    Brown Grey: #3C403D
    Tanly: #DADED4
    White: #FFFFFF 
*/

.rootScreen {
    min-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color:#3C403D;
    text-align: center;
}

.componentColor {
    background-color:#DADED4;
}

.ButtonColor {
    background-color:#A3BCB6;
    
}

.Button {
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
}
