nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    outline: 3px solid #000;
    width: 98%;
    align-items: center;
    margin: 0 1%;
    position: fixed;
    margin-top: 8rem;
}

nav > * {
    margin: 1em;
}