<main class="componentColor">
    <h2>Piano Classes</h2>
    <div class="musicClasses">
        <div type="button" class="group ButtonColor">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    <h2>Drum Classes</h2>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    <h2>Guitar Classes</h2>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    
</main>
