main {
    display: flex;
    outline: 3px solid #000;
    flex-direction: column;
    width: 98%;
    min-height: 48rem;
    align-items: flex-start;
    margin: 0 1%;
}

main > * {
    margin: 2em;
}

.organization {
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(242,242,242);
}

.musicClasses {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
}

.group {
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(242,242,242);
    margin: 1em;
    cursor: pointer;
}
