main {
    display: flex;
    outline: 3px solid #000;
    flex-direction: column;
    position: absolute;
    min-height: 98vh;
    width: 98%;
    align-items: center;
    margin: 0 1%;
    margin-top: 15rem;
}

@media (max-width: 606px) {
    main {
        margin-top: 21rem;
    }
}