<main class="componentColor">
    <div style="display: flex;">
        <img src="/assets/images/piano-icon.png" width="100" height="100">
        <h2>Piano Classes</h2>
    </div>
    
    <div class="musicClasses">
        <div type="button" class="group ButtonColor">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    <div style="display: flex;">
        <img src="/assets/images/drum-icon.png" width="100" height="100">
        <h2>Drum Classes</h2>
    </div>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    <div style="display: flex;">
        <img src="/assets/images/guitar-icon.png" width="100" height="100">
        <h2>Guitar Classes</h2>
    </div>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    
</main>
