<main>
    <div type="label" class="organization">Piano Classes</div>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    <div type="label" class="organization">Drum Classes</div>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    <div type="label" class="organization">Guitar Classes</div>
    <div class="musicClasses">
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
        <div type="button" class="group">
            <p>class name</p>
            <p>teacher</p>
            <p>#students</p>
        </div>
    </div>
    
</main>
