<div class="NewClassForm">
    <h1>Add New Class!</h1>
    <form action="" class="formItems">

        <label for="GroupName">Class Name: </label>
        <input id="GroupName" type="text">

        <label for="OrganizationName">Instrument: </label>
        <select name="OrganizationName" id="OrganizationName">
            <option value="Piano">Piano</option>
            <option value="Drums">Drums</option>
            <option value="Guitar">Guitar</option>
        </select>

        <label for="SponsorName">Teacher Name: </label>
        <input id="SponsorName" type="text">

        <label for="SponsorPhone">Teacher Phone: </label>
        <input id="SponsorPhone" type="tel">

        <label for="SponsorEmail">Teacher Email: </label>
        <input id="SponsorEmail" type="email">

        <label for="MaxGroupSize">Class Capacity: </label>
        <input id="MaxGroupSize" type="number">

        <input class="submitButton" type="submit" value="Submit">

    </form>
</div>